<div id='utility'>
  <h1 id='portfolio'> Portfolio</h1>
  <a id="back_arrow" (click)="back_button()">&#8678;</a>
  <a id="right_side" target="_blank"
        href='../../assets/TannerPhan%202017%20Resume.pdf'>Resume</a>
</div>

<div id="content" #seattle>

  <ul>
    <li *ngFor="let project of projects"
        [style.background-image] = " 'url(' + project.path + ')'"
        style="background-position: center">
        <h4 class="card_title"> {{project.name}}</h4>

        <span class='bottom_bar'>

          <a class="notebook_btn" href="{{project.jNoteBook}}" *ngIf="project.jNoteBook"
             target="_blank">
              <img class="notebook" src="../../assets/medias/notebook_icon.png">
          </a>
          <!--DEMO-->
          <a class="demo_btn" href="{{project.demo}}" *ngIf="project.demo"  target="_blank">
          &#9658;
          </a>
          <!--GITHUB-->
          <a href="{{project.github}}"  target="_blank" *ngIf="project.github">
            <img class="github" src="../../assets/medias/github.png">
          </a>
      </span>
    </li>
  </ul>

</div>
