<div id='utility'>
  <h1 id='portfolio'> Portfolio</h1>
  <a id="back_arrow" (click)="back_button()">&#8678;</a>
  <a id="right_side" target="_blank"
        href='../../assets/TannerPhan%202017%20Resume.pdf'>Resume</a>
</div>

<div id="content" #seattle>

  <ul>
    <li *ngFor="let project of projects"
        [style.background-image] = " 'url(' + project.path + ')'"
        style="background-position: center">
        <h4 class="card_title">Project: {{project.name}}</h4>

        <span class='bottom_bar'>
          <a class="demo_btn" href="{{project.demo}}" *ngIf="project.demo">
          &#9658;
          </a>
          <a href="{{project.github}}">
            <img class="github" src="../../assets/medias/github.png">
          </a>
      </span>
    </li>
  </ul>

</div>
