<div id="main">
  <ul id='visual_pane' >
    <!--<img src="assets/medias/ig.png">-->
    <li class="content" *ngFor="let img_src of bckgrnd_img_src"
      [ngStyle]="setStyle()">
      <a href={{img_src}}> {{img_src}} </a>
    </li>
  </ul>
</div>

<div id='monolog_pane'>

  <ul id="bread_crums">
    <span> | </span>
    <li (click)="menu_onClick($event, 'myself')"
        [ngClass]="menu_state == 'myself'? 'selected':''">
      myself
    </li>
    <span> | </span>
    <li *ngFor="let item of menu_items"
        (click)="menu_onClick($event, item)"
        [ngClass]="menu_state == item? 'selected':''">
      {{item}}
      <span style="color:black"> | </span>
    </li>
  </ul>

  <span id="content">
    <div id="me_wrap">
      <div id="me"></div>
    </div>
    <!--<div id="me"></div>-->
    <p id="content_span">
      <!--<span id="content_text"-->
      <!--[style.display]="monolog_pane_showorhide('bio')">I started hacking at 12 years old when AOL was giving out free internet access on a disc.-->
      <!--Now I enjoy writing software applications to solve efficiency problems.-->
      <!--</span>-->
      <span id="content_text"
            [style.display]="monolog_pane_showorhide('myself')">
        I'm a freelance software developer based in Seattle.
        I'm also ava
        This site is the hub of my social media feed and blog.
        It also has my professional information for download.
        Please feel free to reach out to collaborate.
    </span>
      <span id="startup"
            [style.display]="monolog_pane_showorhide('startup')">I love startup because it allows radically ideas to take shape.
         Over the last years,
        I've had the opportunity to work at several different startups based in Seattle.
      </span>
      <span id="people"
            [style.display]="monolog_pane_showorhide('people')">People are the heart of my work.
        My interest to better understand human behaviors came out of my passion to design awesome product/service.
      </span>
      </p>
    </span>

</div>
