<!--<div id="menu_button_flip"> menu </div>-->
<div id="menu">
  <table>
    <tr>
      <td [ngStyle]="setStyle()">
        <span><a href="">Future</a></span>
      </td>
      <td [ngStyle]="setStyle()">
      <span><a href="">Future</a></span>
      </td>
      <td [ngStyle]="setStyle()">
       <span><a href="">Future</a></span>
      </td>
    </tr>
    <tr>
      <td [ngStyle]="setStyle()">
        <span><a href="">Future</a></span>
      </td>
      <td [ngStyle]="setStyle()">
        <span><a href="">Future</a></span>
      </td>
      <td [ngStyle]="setStyle()">
        <span><a href="">Future</a></span>
      </td>
    </tr>
    <tr>
      <td [ngStyle]="setStyle()">
        <span><a href="">Future</a></span>
      </td>
      <td [ngStyle]="setStyle()">
        <span><a href="">Future</a></span>
      </td>
      <td [ngStyle]="setStyle()">
        <span><a href="">Future</a></span>
      </td>
    </tr>
  </table>
</div>
  <!--<video id="detect_lanes" #movieplayer loop autoplay="autoplay" preload="auto">-->
    <!--<source src="../../assets/medias/lane_detection.mp4" type="video/mp4">-->
  <!--</video>-->
<img id="lane_detection" src="../../assets/medias/lane_detection.gif">
<span id="video_caption">Video Lane Detection</span>
<div id="seattle_based_slogan">
  <h3> SEATTLE BASED </h3>
  <p>Application Developer</p>
<img id="seattle_skyline"
     src="../../assets/medias/seattle_skyline.png">
</div>
<div id="tanner_card">
  <img src="../../assets/medias/me_standing.png">
  <!--<a href="../../assets//tannerphan.pdf" target='_blank'> Resume</a>-->
  <p id="portfolio" (click)="click_portfolio()"> Portfolio 	&rArr;</p>
</div>
<div id="about_section">
  <div>
  </div>
  <h2> About </h2>
  <br>
  <p>
      I'm an application developer. I focus on IoT applications and development.
      I've had the fundamental backgrounds: Physics, Math, Computer Science in my undergrad education.
      In 2015, I shifted my focus toward web application development.
      And by 2016, I was working on a startup with three other people that were, on average, 6 years older than me.
      Of course the startup was unsuccessful. Nevertheless, I grew and learned a ton from building the startup
      with some really passionate people. Now I'm looking for a position as a front-end application developer.
    </p>
</div>
<div id="footer">
<span id="socialmedia">
<a href='https://www.linkedin.com/in/tanner-phan-b70999aa/' target='_top'>
<img id="social_icon" src="assets/medias/linkedin_blk.png">
</a>
<a href='https://twitter.com/tannerphan?lang=en' target='_top'>
<img id="social_icon" src="assets/medias/twitter.png">
</a>
<a href='https://www.instagram.com/tann3rphan/' target='_top'>
<img id="social_icon" src="assets/medias/instagram.png">
</a>
<a href='https://github.com/tannerP' target='_top'>
<img id="social_icon" src="assets/medias/github.png">
</a>
</span>
<!--<p>{{footer_tog == true? 'Follow here':' &copy; tannerphan 2017'}}</p>-->
<p> &copy; Tanner Phan 2017</p>
</div>
