@import url("https://fonts.googleapis.com/css?family=Slabo+13px|Suez+13px||Ultra");
html, body {
  width: 100%;
  height: 100%;
  margin: 0; }

@keyframes move-the-object {
  0%, 30% {
    -moz-transform: translateX(-30);
    -ms-transform: translateX(-30);
    -webkit-transform: translateX(-30);
    transform: translateX(-30); }
  35% {
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -webkit-transform: translateX(30px);
    transform: translateX(30px); } }
@keyframes moving_background {
  0%, 30% {
    transform: translateX(50px) rotate(50deg) translateY(15px); }
  35% {
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    font-style: italic; } }
#menu {
  position: static;
  height: 80%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  font-size: .5em; }
  #menu table {
    border-collapse: collapse;
    text-align: center; }
  #menu table tr {
    height: auto; }
  #menu table td {
    width: 33.333%; }
    #menu table td a {
      position: relative;
      bottom: 13px;
      right: 5px;
      background-color: #ffa117;
      width: 100%;
      font-size: 1.5em;
      letter-spacing: .4em;
      text-decoration: none;
      opacity: .9;
      color: black; }

div#menu_button {
  text-align: center;
  width: 80%;
  height: auto;
  color: #333333;
  font-size: 3em;
  font-weight: lighter;
  letter-spacing: 20px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid;
  bottom: 0px;
  border-width: 1px; }

div#menu_button_flip {
  text-align: center;
  width: 80%;
  height: auto;
  color: #333333;
  font-size: 3em;
  font-weight: lighter;
  letter-spacing: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
  border-top: solid;
  border-width: 1px; }

div#seattle_based_slogan {
  display: block;
  text-align: center;
  height: auto;
  margin-top: 20%; }
  div#seattle_based_slogan h3 {
    font-family: 'Ultra', serif;
    padding-bottom: 0;
    font-size: 2.7em;
    opacity: .7; }
  div#seattle_based_slogan p {
    color: #ffa117;
    letter-spacing: .8px; }

img#seattle_skyline {
  margin-top: 50%;
  height: auto;
  width: 100%;
  opacity: .15;
  display: block;
  -moz-box-shadow: inset 0 0 100px #ffffff;
  -webkit-box-shadow: inset 0 0 100px #ffffff;
  box-shadow: inset 0 0 100px #ffffff; }

img#seattle_skyline_active {
  opacity: 0.8;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

video#detect_lanes {
  height: auto;
  opacity: .7;
  display: block;
  margin: 0;
  padding: 0; }

div#tanner_card {
  width: 100%;
  height: 10%;
  text-align: right;
  color: white;
  font-size: 2em;
  background-color: #ffa117;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px #ffffff; }
  div#tanner_card img {
    position: relative;
    width: auto;
    height: 160%;
    top: -60%;
    right: -5%;
    display: block;
    bottom: 10%;
    z-index: 0; }
  div#tanner_card p#portfolio {
    position: relative;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 1.3em;
    bottom: 150%;
    right: 10%;
    animation: move-the-object 1s infinite; }

div#about_section {
  height: 100%;
  background: white url("../../assets/medias/running.png");
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat; }
  div#about_section div {
    background: linear-gradient(black, #5e5e5e);
    opacity: .7;
    width: auto; }
  div#about_section h2 {
    font-size: 5em;
    display: block;
    width: 50%;
    position: relative;
    color: #ffa117;
    left: 10%;
    top: -90%; }
  div#about_section p {
    position: relative;
    left: 10%;
    top: -90%;
    padding-bottom: 20%;
    color: white;
    width: 80%;
    height: auto;
    z-index: 3;
    font-size: 1em; }

@media (min-width: 750px) {
  #menu {
    position: static;
    height: 80%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: .5em; }
    #menu table {
      border-collapse: collapse;
      text-align: center; }
    #menu table tr {
      height: auto; }
    #menu table td {
      width: 33.333%; }
      #menu table td a {
        position: relative;
        bottom: 30px;
        right: 20px;
        background-color: #ffa117;
        width: 100%;
        font-size: 2em;
        letter-spacing: .5em;
        text-decoration: none;
        opacity: .9;
        color: black; }

  div#seattle_based_slogan h3 {
    font-size: 5em; }
  div#seattle_based_slogan p {
    font-size: 2em; }

  img#seattle_skyline {
    margin-top: 50%;
    height: auto;
    width: 100%;
    opacity: .1;
    display: block;
    filter: grayscale(100%);
    -moz-box-shadow: inset 0 0 100px #ffffff;
    -webkit-box-shadow: inset 0 0 100px #ffffff;
    box-shadow: inset 0 0 100px #ffffff; }

  div#about_section {
    height: 100%;
    background: white url("../../assets/medias/running.png");
    background-position: left;
    background-size: 100% auto;
    background-repeat: no-repeat; }
    div#about_section div {
      background: linear-gradient(black, #5e5e5e);
      opacity: .7;
      width: auto; }
    div#about_section h2 {
      font-size: 6em;
      display: block;
      width: 50%;
      position: relative;
      color: #ffa117;
      left: 10%;
      top: -85%; }
    div#about_section p {
      position: relative;
      left: 10%;
      top: -85%;
      padding-bottom: 20%;
      color: white;
      width: 55%;
      height: auto;
      z-index: 3;
      font-size: 1.2em; } }
@media (orientation: landscape) {
  #menu {
    position: static;
    height: 80%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: .5em; }
    #menu table {
      border-collapse: collapse;
      text-align: center; }
    #menu table tr {
      height: auto; }
    #menu table td {
      width: 33.333%; }
      #menu table td a {
        position: relative;
        bottom: 35px;
        right: 20px;
        background-color: #ffa117;
        width: 100%;
        font-size: 2em;
        letter-spacing: .5em;
        text-decoration: none;
        opacity: .9;
        color: black; }

  div#seattle_based_slogan h3 {
    font-size: 5em; }
  div#seattle_based_slogan p {
    font-size: 2em; }

  div#tanner_card {
    padding-top: 10px;
    width: 100%;
    height: 20%;
    text-align: right;
    color: white;
    font-size: 2em;
    background-color: #ffa117;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 10px #ffffff; }
    div#tanner_card img {
      position: relative;
      width: auto;
      height: 140%;
      top: -40%;
      right: -10%;
      display: block;
      bottom: 10%;
      z-index: 0; }
    div#tanner_card p#portfolio {
      cursor: default;
      position: relative;
      width: auto;
      height: auto;
      font-weight: bold;
      font-size: 2em;
      top: -110%;
      right: 10%;
      animation: move-the-object 1s infinite; }

  div#about_section {
    width: 100%;
    background: white url("../../assets/medias/running.png");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat; }
    div#about_section div {
      background: linear-gradient(black, #5e5e5e);
      opacity: .7;
      width: auto; }
    div#about_section h2 {
      font-size: 6em;
      display: block;
      width: 50%;
      position: relative;
      color: #ffa117;
      left: 10%;
      top: -80%; }
    div#about_section p {
      position: relative;
      left: 10%;
      top: -80%;
      padding-bottom: 20%;
      color: white;
      width: 45%;
      height: auto;
      z-index: 3;
      font-size: 1.5em; } }
@media (orientation: landscape) and (max-width: 750px) {
  div#about_section {
    height: 100%;
    background: white url("../../assets/medias/running.png");
    background-position: left;
    background-size: 100% auto;
    background-repeat: no-repeat; }
    div#about_section div {
      background: linear-gradient(black, #5e5e5e);
      opacity: .7;
      width: auto; }
    div#about_section h2 {
      font-size: 6em;
      display: block;
      width: 50%;
      position: relative;
      color: #ffa117;
      left: 10%;
      top: -87%; }
    div#about_section p {
      position: relative;
      left: 10%;
      top: -90%;
      padding-bottom: 20%;
      color: white;
      width: 75%;
      height: auto;
      z-index: 3;
      font-size: .9em; } }
@media (min-width: 1441px) {
  #menu {
    position: static;
    height: 80%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: .5em; }
    #menu table {
      border-collapse: collapse;
      text-align: center; }
    #menu table tr {
      height: auto; }
    #menu table td {
      width: 33.333%; }
      #menu table td a {
        position: relative;
        bottom: 35px;
        right: 20px;
        background-color: #ffa117;
        width: 100%;
        font-size: 3em;
        letter-spacing: .5em;
        text-decoration: none;
        opacity: .9;
        color: black; }

  div#seattle_based_slogan h3 {
    font-size: 5em; }
  div#seattle_based_slogan p {
    font-size: 2em; }

  div#tanner_card {
    padding-top: 10px;
    width: 100%;
    height: 20%;
    text-align: right;
    color: white;
    font-size: 2em;
    background-color: #ffa117;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 10px #ffffff; }
    div#tanner_card img {
      position: relative;
      width: auto;
      height: 140%;
      top: -40%;
      right: -10%;
      display: block;
      bottom: 10%;
      z-index: 0; }
    div#tanner_card p#portfolio {
      position: relative;
      width: auto;
      height: auto;
      font-weight: bold;
      font-size: 4em;
      top: -110%;
      right: 10%;
      animation: move-the-object 1s infinite; }

  div#about_section {
    width: 100%;
    background: white url("../../assets/medias/running.png");
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat; }
    div#about_section div {
      background: linear-gradient(black, #5e5e5e);
      opacity: .7;
      width: auto; }
    div#about_section h2 {
      font-size: 9em;
      display: block;
      width: 50%;
      position: relative;
      color: #ffa117;
      left: 10%;
      top: -80%; }
    div#about_section p {
      position: relative;
      left: 10%;
      top: -80%;
      padding-bottom: 20%;
      color: white;
      width: 45%;
      height: auto;
      z-index: 3;
      font-size: 2em; } }
@media (max-width: 425px) {
  div#footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 13%;
    color: white;
    text-align: center;
    background-color: white;
    opacity: .9; }
    div#footer span#socialmedia {
      height: auto;
      width: auto;
      margin-right: auto;
      margin-left: auto; }
    div#footer a {
      text-decoration: none; }
      div#footer a img#social_icon {
        margin-top: 3%;
        width: auto;
        height: 45%;
        opacity: .7; }
    div#footer p {
      text-align: center;
      color: #ffa117;
      font-size: .6em;
      letter-spacing: 2px; } }
@media (max-width: 425px) and (orientation: landscape) {
  div#footer {
    width: 100%;
    height: 20%; }
    div#footer a {
      text-decoration: none; }
      div#footer a img#social_icon {
        width: auto;
        height: 30%; }
    div#footer p {
      font-size: .6em; } }
@media (min-width: 426px) and (max-width: 750px) {
  div#footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 13%;
    color: white;
    text-align: center;
    background-color: white;
    opacity: .9; }
    div#footer span#socialmedia {
      height: auto;
      width: auto;
      margin-right: auto;
      margin-left: auto; }
    div#footer a {
      text-decoration: none; }
      div#footer a img#social_icon {
        margin-top: 1%;
        width: auto;
        height: 40%;
        opacity: .8; }
    div#footer p {
      text-align: center;
      color: #ffa117;
      font-size: .8em;
      letter-spacing: 3px; } }
@media (min-width: 426px) and (max-width: 750px) and (orientation: landscape) {
  div#footer {
    background-color: white;
    width: 100%;
    height: 15%; }
    div#footer a {
      text-decoration: none; }
      div#footer a img#social_icon {
        margin-top: 1%;
        height: 45%;
        width: auto; }
    div#footer p {
      font-size: 1em; } }
@media (min-width: 751px) and (max-width: 1599px) {
  div#footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    color: white;
    text-align: center;
    background-color: white;
    opacity: .9; }
    div#footer span#socialmedia {
      height: auto;
      width: auto;
      margin-right: auto;
      margin-left: auto; }
    div#footer a {
      text-decoration: none; }
      div#footer a img#social_icon {
        margin-top: 1%;
        width: auto;
        height: 50%;
        opacity: .7; }
    div#footer p {
      text-align: center;
      color: #ffa117;
      font-size: 1.2em;
      letter-spacing: 3px; } }
@media (min-width: 1600px) {
  div#footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    color: white;
    text-align: center;
    background-color: white;
    opacity: .9; }
    div#footer span#socialmedia {
      height: auto;
      width: auto;
      margin-right: auto;
      margin-left: auto; }
    div#footer a {
      text-decoration: none; }
      div#footer a img#social_icon {
        margin-top: 1%;
        width: auto;
        height: 50%;
        opacity: .7; }
    div#footer p {
      text-align: center;
      color: #ffa117;
      font-size: 1.4em;
      letter-spacing: 3px; } }

/*# sourceMappingURL=main.component.css.map */
