@import '../palette.scss';
@import url('https://fonts.googleapis.com/css?family=Slabo+13px|Suez+13px||Ultra');

@keyframes move-the-object {
  0%, 30% {
    -moz-transform: translateX(-30);
    -ms-transform: translateX(-30);
    -webkit-transform: translateX(-30);
    transform: translateX(-30);
  }

  35% {
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    //font-style: italic;
  }
}

@keyframes moving_background {
  0%, 30% {
    transform: translateX(50px) rotate(50deg) translateY(15px);
  }

  35% {
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    font-style: italic;
  }
}

#menu {
  position: static;
  height: 80%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-size: .5em;
  table {
    border-collapse: collapse;
    text-align: center;
  }
  table {
    tr {
      height: auto;
    }
    td {
      width: 33.333%;
      // height: 100%;
      a {
        padding-left: 5%;
        padding-right: 0;
        position: relative;
        bottom: 13px;
        right: 5px;
        background-color: $cust-orange;
        width: 100%;
        font-size: 1.5em;
        letter-spacing: .2em;
        text-decoration: none;
        opacity: .9;
        color: black;
      }
    }
  }
}
//BASE
@mixin menu_base() {
  text-align: center;
  width: 90%;
  height: auto;
  color: #333333;
  font-size: 4em;
  font-weight: lighter;
  letter-spacing: .2em;
  margin-right: auto;
  margin-left: auto;
}
div#menu_button {
  @include menu_base();
  border-bottom: solid;
  // position: absolute;
  bottom: 0px;
  border-width: 1px;
}
div#menu_button_flip {
  @include menu_base();
  margin-top: 3%;
  border-top: solid;
  border-width: 1px;
}
div#seattle_based_slogan {
  margin-top: 45%;
  display: block;
  text-align: center;
  height: auto;
  padding-top: auto;
  padding-bottom: auto;
  h3 {
    color: black;
    font-family: 'Ultra', serif;
    padding-bottom: 0;
    font-size: 2.7em;
    opacity: .7;
      }
  p {
    color: $link-font-color;
    letter-spacing: .8px;
  }
  img#seattle_skyline {
    margin-top: 45%;
    height: auto;
    width: 100%;
    opacity: .15;
    display: block;
    -moz-box-shadow: inset 0 0 100px #ffffff;
    -webkit-box-shadow: inset 0 0 100px #ffffff;
    box-shadow: inset 0 0 100px #ffffff;
  }
  img#seattle_skyline_active {
    opacity: 0.8;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
}
img#seattle_skyline {
  margin-top: 50%;
  height: auto;
  width: 100%;
  opacity: .1;
  display: block;
  filter: grayscale(100%);
  -moz-box-shadow: inset 0 0 100px #ffffff;
  -webkit-box-shadow: inset 0 0 100px #ffffff;
  box-shadow: inset 0 0 100px #ffffff;
}
img#lane_detection{
  //margin-top: 5%;
  height: auto;
  opacity: .5;
  display: block;
}
div#tanner_card {
  width: 100%;
  height: 10%;
  text-align: right;
  color: $cust-orange;
  font-size: 2em;
  background-color:#1d4e41;
  background-size: contain;
  background-repeat: no-repeat;
  img {
    position: relative;
    width: auto;
    height: 160%;
    top: -60%;
    right: -5%;
    display: block;
    bottom: 10%;
    z-index: 0;
  }
  p#portfolio {
    position: relative;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 1.3em;
    bottom: 150%;
    right: 10%;
    animation: move-the-object 1s infinite;
  }
}
div#about_section {
  height: 100%;
  background: white url('../../assets/medias/running.png');
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
  div {
    background: linear-gradient(black, #5e5e5e);
    opacity: .7;
    width: auto;
  }
  h2 {
    opacity: .8;
    font-size: 5em;
    display: block;
    width: 50%;
    position: relative;
    color: $cust-orange;
    left: 10%;
    top: -90%;
  }
  p {
    position: relative;
    left: 10%;
    top: -90%;
    padding-bottom: 20%;
    color: white;
    width: 80%;
    height: auto;
    z-index: 3;
    font-size: 1em;
  }
}

@media (min-width: $breakpoint-tablet){
  #menu {
    position: static;
    height: 80%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: .5em;
    table {
      border-collapse: collapse;
      text-align: center;
    }
    table {
      tr {
        height: auto;
      }
      td {
        width: 33.333%;
        // height: 100%;
        a {
          position: relative;
          bottom: 30px;
          right: 20px;
          background-color: $cust-orange;
          width: 100%;
          font-size: 2em;
          letter-spacing: .5em;
          text-decoration: none;
          opacity: .9;
          color: black;
        }
      }
    }
  }
  div#seattle_based_slogan {
    h3 {
      font-size: 5em;
    }
    p {
      font-size: 2em;
    }
  }
  img#seattle_skyline {
    margin-top: 50%;
    height: auto;
    width: 100%;
    opacity: .1;
    display: block;
    filter: grayscale(100%);
    -moz-box-shadow: inset 0 0 100px #ffffff;
    -webkit-box-shadow: inset 0 0 100px #ffffff;
    box-shadow: inset 0 0 100px #ffffff;
  }
  div#about_section {
    height: 100%;
    background: white url('../../assets/medias/running.png');
    background-position: left;
    background-size: 100% auto;
    background-repeat: no-repeat;
    div {
      background: linear-gradient(black, #5e5e5e);
      opacity: .7;
      width: auto;
    }
    h2 {;
      font-size: 6em;
      display: block;
      width: 50%;
      position: relative;
      color: $cust-orange;
      left: 10%;
      top: -85%;
    }
    p {
      position: relative;
      left: 10%;
      top: -85%;
      padding-bottom: 20%;
      color: white;
      width: 55%;
      height: auto;
      z-index: 3;
      font-size: 1.2em;
    }
  }
}

@media (orientation: landscape) {
   #menu {
     position: static;
     height: 80%;
     width: 90%;
     margin-right: auto;
     margin-left: auto;
     font-size: .5em;
     table {
       border-collapse: collapse;
       text-align: center;
     }
     table {
       tr {
         height: auto;
       }
       td {
         width: 33.333%;
         // height: 100%;
         a {
           position: relative;
           bottom: 35px;
           right: 20px;
           background-color: $cust-orange;
           width: 100%;
           font-size: 2em;
           letter-spacing: .5em;
           text-decoration: none;
           opacity: .9;
           color: black;
         }
       }
     }
   }
   div#seattle_based_slogan {
     h3 {
       font-size: 5em;
     }
     p {
       font-size: 2em;
     }
   }
   div#tanner_card {
    padding-top: 10px;
    width: 100%;
    height: 20%;
    text-align: right;
    color: $cust-orange;
    font-size: 2em;
    background-color: #1d4e41;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 5px #ffffff; //-moz-box-shadow:    inset 0 0 30px #ffffff;
    //-webkit-box-shadow: inset 0 0 30px #ffffff;
    img {
      position: relative;
      width: auto;
      height: 140%;
      top: -40%;
      right: -10%;
      display: block;
      bottom: 10%;
      z-index: 0;
    }
    p#portfolio {
      cursor: default;
      position: relative;
      width: auto;
      height: auto;
      font-weight: bold;
      font-size: 2em;
      top: -110%;
      right: 10%;
      animation: move-the-object 1s infinite;
    }
  }
   div#about_section {
    width: 100%;
    background: white url('../../assets/medias/running.png');
    background-position: center;
    background-size: 100% auto;
    // background-size: cover;
    background-repeat: no-repeat;
    //filter: grayscale(50%);
    div {
      background: linear-gradient(black, #5e5e5e);
      opacity: .7;
      width: auto;
    }
    h2 {
      font-size: 6em;
      display: block;
      width: 50%;
      position: relative;
      color:$cust-orange;
      left: 10%;
      top: -80%;
    }
    p {
      position: relative;
      left: 10%;
      top: -80%;
      padding-bottom: 20%;
      color: white;
      width: 45%;
      height: auto;
      z-index: 3;
      font-size: 1.5em;
    }
  }
   @media (max-width: $breakpoint-tablet) {
     div#about_section {
       height: 100%;
       background: white url('../../assets/medias/running.png');
       background-position: left;
       background-size: 100% auto;
       background-repeat: no-repeat;
       div {
         background: linear-gradient(black, #5e5e5e);
         opacity: .7;
         width: auto;
       }
       h2 {;
         font-size: 6em;
         display: block;
         width: 50%;
         position: relative;
         color: $cust-orange;
         left: 10%;
         top: -87%;
       }
       p {
         position: relative;
         left: 10%;
         top: -90%;
         padding-bottom: 20%;
         color: white;
         width: 75%;
         height: auto;
         z-index: 3;
         font-size: .9em; }
     }
   }
}

@media (min-width: $breakpoint-desk-lrg){
  #menu {
    position: static;
    height: 80%;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: .5em;
    table {
      border-collapse: collapse;
      text-align: center;
    }
    table {
      tr {
        height: auto;
      }
      td {
        width: 33.333%;
        a {
          padding: 1%;
          padding-right: 0;
          position: relative;
          bottom: 35px;
          right: 20px;
          background-color: $cust-orange;
          width: 100%;
          font-size: 3em;
          letter-spacing: .3em;
          text-decoration: none;
          opacity: .9;
          color: black;
        }
      }
    }
  }
  div#seattle_based_slogan {
    h3 {
      font-size: 8em;
      opacity: .7;
    }
    p {
      font-weight: lighter;
      font-size: 3em;
    }
  }
  div#tanner_card {
    padding-top: 10px;
    width: 100%;
    height: 20%;
    text-align: right;
    color: $cust-orange;
    font-size: 2em;
    background-color: #1d4e41;
    background-size: contain;
    background-repeat: no-repeat;
    img {
      position: relative;
      width: auto;
      height: 140%;
      top: -40%;
      right: -10%;
      display: block;
      bottom: 10%;
      z-index: 0;
    }
    p#portfolio {
      position: relative;
      width: auto;
      height: auto;
      font-weight: bold;
      font-size: 4em;
      top: -110%;
      right: 10%;
      animation: move-the-object 1s infinite;
    }
  }
  div#about_section {
    width: 100%;
    background: white url('../../assets/medias/running.png');
    background-position: center;
    background-size: 100% auto;
    // background-size: cover;
    background-repeat: no-repeat;
    //filter: grayscale(50%);
    div {
      background: linear-gradient(black, #5e5e5e);
      opacity: .7;
      width: auto;
    }
    h2 {;
      font-size: 9em;
      display: block;
      width: 50%;
      position: relative;
      color: $cust-orange;
      left: 10%;
      top: -80%;
    }
    p {
      position: relative;
      left: 10%;
      top: -80%;
      padding-bottom: 20%;
      color: white;
      width: 45%;
      height: auto;
      z-index: 3;
      font-size: 2em;
    }
  }
}


// footer
@mixin gradient-animation( $start, $end, $transTime ){
  background-size: 100%;
  background-image: -webkit-linear-gradient($start, $end);
  background-image: linear-gradient($start, $end);
  position: relative;
  z-index: 100;
  &:before {
    border-radius: inherit;
    background-image: -webkit-linear-gradient($end, $start);
    background-image: linear-gradient($end, $start);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    z-index: -100;
    -moz-transition: opacity $transTime ease-in-out;
    -webkit-transition: opacity $transTime ease-in-out;
    transition: opacity $transTime ease-in-out;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

@media(max-width: $breakpoint-mobile) {
  div#footer{
    // @include gradient-animation( #ffa117, #464646, 1s);
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 13%;
    color: white;
    text-align: center;
    background-color: white;
    opacity: .9;
    span#socialmedia{
      height: auto;
      width: auto;
      margin-right: auto;
      margin-left: auto;
    }
    a{
      text-decoration: none;
      img#social_icon{
        margin-top: 3%;
        width: auto;
        height: 45%;
        opacity: .7;
      }
    }
    p{
      text-align: center;
      color: #ffa117;
      font-size: .5em;
      letter-spacing: 2px;
    }
  }
}

@media(max-width: $breakpoint-mobile) and (orientation: landscape) { div#footer{
    width: 100%;
    height: 20%;
    // @include gradient-animation( #ffa117, #464646, 1s);
    span#socialmedia{
    }
    a{
      text-decoration: none;
      img#social_icon{
        width: auto;
        height: 30%;
      }
    }
    p{
      font-size: .6em;
    }
  }
}

@media (min-width: $breakpoint-mobile + 1) and (max-width: $breakpoint-tablet) {
  div#footer{
    // @include gradient-animation( #ffa117, #464646, 1s);
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 13%;
    color: white;
    text-align: center;
    background-color: white;
    opacity: .9;
    span#socialmedia{
      height: auto;
      width: auto;
      margin-right: auto;
      margin-left: auto;
    }
    a{
      text-decoration: none;
      img#social_icon{
        margin-top: 1%;
        width: auto;
        height: 40%;
        opacity: .8;
      }
    }
    p{
      text-align: center;
      color: #ffa117;
      font-size: .8em;
      letter-spacing: 3px;
    }
  }
}

@media(min-width: $breakpoint-mobile + 1) and (max-width: $breakpoint-tablet)
and (orientation: landscape) {
  div#footer{
    // @include gradient-animation( #ffa117, #464646, 1s);
    background-color: white;
    width: 100%;
    height: 15%;
    span#socialmedia{
    }
    a{
      text-decoration: none;
      img#social_icon{
        margin-top: 1%;
        height: 45%;
        width: auto;
      }
    }
    p{
      font-size: 1em;
    }
  }
}

@media (min-width: $breakpoint-tablet +1) and (max-width: $breakpoint-desk){
  div#footer{
    // @include gradient-animation( #ffa117, #464646, 1s);
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    color: white;
    text-align: center;
    background-color: white;
    opacity: .9;
    span#socialmedia{
      height: auto;
      width: auto;
      margin-right: auto;
      margin-left: auto;
    }
    a{
      text-decoration: none;
      img#social_icon{
        margin-top: 1%;
        width: auto;
        height: 50%;
        opacity: .7;
      }
    }
    p{
      //margin-top: 1%;
      text-align: center;
      color: #ffa117;
      font-size: 1.2em;
      letter-spacing: 3px;
    }
  }

}

@media (min-width: $breakpoint-desk +1){
  div#footer{
    // @include gradient-animation( #ffa117, #464646, 1s);
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15%;
    color: white;
    text-align: center;
    background-color: white;
    opacity: .9;
    span#socialmedia{
      height: auto;
      width: auto;
      margin-right: auto;
      margin-left: auto;
    }
    a{
      text-decoration: none;
      img#social_icon{
        margin-top: 1%;
        width: auto;
        height: 50%;
        opacity: .7;
      }
    }
    p{
      //margin-top: 1%;
      text-align: center;
      color: #ffa117;
      font-size: 1.4em;
      letter-spacing: 3px;
    }
  }

}

