@import '../palette.scss';

#main {
  position: static;
  height: 90%;
  table {
    margin-top: 10%;
    margin-bottom: 10%;
    border-bottom:5px solid #bfbfbf ;
    //border-top: 5px solid #bfbfbf;
    border-collapse: collapse;
    text-align: center;
  }
 table{
  // height: 100%;
  // width: 100%;
   tr{
     height: auto;
   }
   td{
     width: 33%;
     height: auto;
     a {
       background-color: black ;
       width: 100%;
       font-size: large;
       font-weight: 600;
       line-height: 300px;
       text-decoration: none;
       opacity: .8;
       color: #ffa117;
     }
     a:hover, a:hover{
       //color: white;
     }
   }
 }

  #visual_pane {
    width: 100%;
    position: relative;
    list-style:none;
    display: flex;
    flex-flow: wrap;
    text-align: center;
    background-color: #bfbfbf;
    opacity: .9;
    .content {
        opacity: .9;
        width: 33.33%;
        height: 100px;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 1%;
        //margin: auto;
        //margin-top: 1px;
      a {
        background-color: black ;
        width: 100%;
        font-size: x-large;
        font-weight: 900;
        line-height: 100px;
        text-decoration: none;
        opacity: .8;
        color: #ffa117;
      }
      a:hover, a:hover{
        //color: white;
      }
    }
    .content:active, .content:hover {
      opacity: 1;
      a {
        opacity: 1;
      }
    }
  }
}
#secondary {
  background-color: white;
  position: static;
  width: 100%;
  height: 20%;
  opacity: .8;
  #bread_crums {
    cursor: default;
    position: relative;
    top: 3px;
    text-align: center;
    height: auto;
    font-size: 11pt;
    letter-spacing: 1pt;
    color: #ffa117;
    opacity: .7;

    li {
      font-weight: 800;
      display: inline;
      list-style-type: none;
    }
    li.selected {
      color: #ffa117;
      opacity: 1;
    }
  }
  span#content {
    padding: 1px;
    h4 {
      padding-top: 10px;
      padding-left: 10px;
    }
    p {
      padding-left: 5px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: black;
      //opacity: .7;
      font-size: 10pt;
      font-weight: lighter;
      text-indent: 0;
    }
    div#me_wrap {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      -ms-transform: translate(0);
      -o-transform: translate(0);
      transition: 1s;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      border-radius: 50%;
      border-width: 2px;
      opacity: .9;
      background: -webkit-linear-gradient(left bottom, #ffa117 30%, #4b3c39 80%);
      float: right;
      width: 54px;
      height: 54px;
      margin: 10px;
      padding: 1px;
      div#me {
        display: inline-block;
        position: relative;
        top: 0px;
        margin: auto;
        border-style: solid;
        border-radius: 50%;
        background-image: url('../../assets/medias/me.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 54px;
        height: 54px;
        transition: 1s;
      }
    }
    //div#me_wrap:hover {
    //  display: none;
    //  -webkit-transform: translate(100px);
    //  -moz-transform: translate(100px);
    //  -ms-transform: translate(100px);
    //  -o-transform: translate(100px);
    //  transition: 1s;
    //
    //}
  }
}

