<div id="main">
  <table>
    <tr>
      <td [ngStyle]="setStyle()">
         <a href={{img_src}}> hello  </a>
      </td>
      <td [ngStyle]="setStyle()">
        <a href={{img_src}}> hello </a>
      </td>
    <td [ngStyle]="setStyle()">
      <a href={{img_src}}> hello </a>
    </td>
    </tr>
    <tr>
      <td [ngStyle]="setStyle()">
        <a href={{img_src}}> hello </a>
      </td>
      <td [ngStyle]="setStyle()">
        <a href={{img_src}}> hello </a>
      </td>
      <td [ngStyle]="setStyle()">
        <a href={{img_src}}> hello </a>
      </td>
    </tr>
    <tr>
      <td [ngStyle]="setStyle()">
        <a href={{img_src}}> hello </a>
      </td>
      <td [ngStyle]="setStyle()">
        <a href={{img_src}}> hello </a>
      </td>
      <td [ngStyle]="setStyle()">
        <a href={{img_src}}> hello </a>
      </td>
    </tr>
  </table>
  <h1> menu </h1>
</div>

<div id='secondary'>

  <ul id="bread_crums">
    <!--<span> | </span>-->
    <!--<li (click)="menu_onClick($event, 'myself')"-->
        <!--[ngClass]="menu_state == 'myself'? 'selected':''">-->
      <!--myself-->
    <!--</li>-->
    <span> | </span>
    <li *ngFor="let item of menu_items"
        (click)="menu_onClick($event, item)"
        [ngClass]="menu_state == item? 'selected':''">
      {{item}}
      <span style="color:black"> | </span>
    </li>
  </ul>

  <span id="content">
    <div id="me_wrap">
      <div id="me"></div>
    </div>
    <!--<div id="me"></div>-->
    <p id="content_span">
      <!--<span id="content_text"-->
      <!--[style.display]="monolog_pane_showorhide('bio')">I started hacking at 12 years old when AOL was giving out free internet access on a disc.-->
      <!--Now I enjoy writing software applications to solve efficiency problems.-->
      <!--</span>-->
      <span id="content_text"
            [style.display]="monolog_pane_showorhide('bio')">
        I'm driven to build applications that help us be the best versions of ourselves.
        I study old habits and leverage cutting-edge technologies to find possible solutions.
        On my downtime, I enjoy traveling, talking to people, and learning new cultures.
      </span>
      <span id="startup"
            [style.display]="monolog_pane_showorhide('startup')">
        Startup are often small teams that work rapidly toward finding a market fit for realizing product.
       A good startup environment creates the strongest camaraderie.
          I love startup because, ideally, it offers a safe place to try radial ideas quickly.
      </span>
      <span id="people"
            [style.display]="monolog_pane_showorhide('people')">
        As people, I believe we are at our best when we seek the best for one another.
       I enjoy working with people and empowering the ones next to me.
        A strong bond can withhold any obstacles in achieving the team goals.
      </span>
       <span id="about"
             [style.display]="monolog_pane_showorhide('about')">
         Application Software Developer
      </span>
      </p>
    </span>


</div>
