<main class="main">
  <div class="icon_bar">
    <img src="assets/medias/me.jpg">
  </div>
  <div class='pane ' id='menu'>
    <div class='main_menu'>
      <span class="menu_title">Content</span>
      <ul>
        <li> startup</li>
        <li> blog </li>
        <li (click)="log($event)"> people </li>
      </ul>
    </div>
  </div>
</main>
<div id='content_viewer'>
  <span id="content">
    <p>
      "A good design leverages users' domain intuition.
      And intuition is just the subconscious's version of a promising idea."
    </p>
    <span id="signature">
      <img id="me" src='assets/medias/me.jpg'>
      <p id="tag"> -Tanner</p>
    </span>
    </span>
</div>
<div id='footer'>
  <span class="site_version" (click)="log($event)">&copy; Tanner 2017</span>
  <span class="icons">
    <img id="framework_icon" src='assets/medias/angular.png'>
  </span>
</div>
