


<router-outlet> </router-outlet>
<div id="footer" (click)="toggle_socialMedia()">{{footer_tog == true? '&copy; Tanner Phan 2017':'Reach Out'}}</div>
<div id='social_media_bar' [@socialmediaState]="socialmedia_state === true ? 'true':'false'" >
  <a href='https://github.com/tannerP' target='_top'>
    <img src="assets/medias/medium.png">
  </a>
  <a href='https://github.com/tannerP' target='_top'>
    <img src="assets/medias/twitter_blk.png">
  </a>
  <a href='https://github.com/tannerP' target='_top'>
    <img src="assets/medias/linkedin_blk.png">
  </a>
  <a href='https://github.com/tannerP' target='_top'>
    <img src="assets/medias/mail_blk.png">
  </a>
  <a href='https://github.com/tannerP' target='_top'>
    <img src="assets/medias/github_blk.png">
  </a>
</div>
