$white: #ffffff;
$breakpoint-mobile: 425px;
$breakpoint-tablet: 750px;
$breakpoint-desk: 1599px;
$breakpoint-desk-lrg: 1441px;
$opacity_inactive: .8;
$background_uri: none;


$cust-orange: #ffa117;
$link-font-color: $cust-orange;
